


.data-grid {
    display: table;
    width: 100%;
    max-width: 550px;
    line-height: 25px;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

.data-grid-heading-row {
	color: #FFFFFF;
	display: table-row;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}

.data-grid-row {
    display: table-row;
}

.data-grid-cell,
.data-grid-heading-cell {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #006699;
    color: #00557F;
}

.data-grid-heading-cell {
    color: inherit;
    font-weight: bold;
    cursor: default;
}

.data-grid .data-grid-heading-cell.sorting>span {
    cursor: pointer;
    position: relative;
 	display: inline-block;
 	padding-right: 10px;
}

.data-grid .data-grid-heading-cell.sorting>span:after {
    content: '';
    display: block;  
    position: absolute;
    top: .3em;
    bottom: 0;
    margin: auto 0;
 	right: -.3em;
    width: 0;
    height: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
}

.data-grid .data-grid-heading-cell.sorting>span.up:after {
    border-bottom: .45em solid white;
    border-top: 0 solid transparent;
}

.data-grid .data-grid-heading-cell.sorting>span.down:after {
    border-bottom: 0 solid transparent;
    border-top: .45em solid white;    
}

.data-grid-heading-cell.id {
    width: 50px;
}

.data-grid-cell.name {
    text-align: left;
}

.data-grid-cell.rating,
.data-grid-cell.status {
    width: 100px;
}

.data-grid-cell>span {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4px 0;
}

.data-grid-cell.white>span,
.data-grid-cell.black>span  {
    text-align: left;
    width: 100%;
}

.data-grid-cell.white>span>span,
.data-grid-cell.black>span>span  {
    font-size: .75em;
    position: relative;
    top: -5px;
    padding-left: 3px;
}

.data-grid-cell>span.link {
    cursor: pointer;
}

.data-grid-cell>span>img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    margin: 0 8px;
}

.data-grid-cell span.selected {
    color: #B58863;
    cursor: default;
}

.data-grid-cell.status>span[data-value="challinge"] {
    color: green;
}

.data-grid-cell.status>span[data-value="playing"] {
    color: blue;
}

.chess-notation-panel .data-grid-cell>span>img {
    position: absolute;
}
